<section class="front" id='wheight'>
    <div class="jumbotron">
        <div class="container">
            <a class="front-brand" href="#">
                <object data="logo.svg" type="image/svg+xml" class="logo">Loombit</object>
            </a>
            <h2>Code & Design</h2>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About</h3>
                <p>Settled in the crevices of Downtown Vancouver, we are a team of Designers, Developers, Hackers and everything in between.</p>
                <h3>Things We're Good At</h3>
                <p>We specialize in crafting the best solutions across digital, web and brand.</p>
                <p>With a strong network and community, we can adapt to a range of specific requirements for a wide variety of projects. </p>
                <p>Wether it's a complex digital application for a large organization, or a simple project for a small startup, we have the experiene to do the job well.</p>
                <p>We also love working with Non-Profit Organizations and Charities.</p>
            </div>
        </div>
    </div>
</section>