<section class="front">
    <div class="jumbotron">
        <div class="container">
            <a class="front-brand" href="#">
                <object data="logo.svg" type="image/svg+xml" class="logo"></object>
            </a>
            <h1>Cool Intro Here</h1>
            <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
            </p>
        </div>
    </div>
</section>