<section class="front" id='wheight'>
    <div class="jumbotron">
        <div class="container">
                <a class="brand" href="#">
                    <object data="logo.svg" type="image/svg+xml" class="logo">Loombit</object>
                </a>
                <h2>Code & Design</h2>
                <nav>
                    <ul class="links">
                        <li><button type="button" class="toggle" id="toggleAbout">
                            <i class="fa fa-question"></i></button>
                        </li>
                        <li><a href="mailto:info@loombit.com"><button  class="toggle"><i class="fa fa-envelope-o"></i></button></a>
                        </li>
                        <li><button type="button" class="toggle" id="toggleAbout">
                            <i class="fa fa-user"></i></button>
                        </li>
                    </ul>
                </nav>
                <i class="pointer fa fa-chevron-up"></i>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>About</h3>
                <p>Settled in the crevices of Downtown Vancouver, we are a team of Designers, Developers, Hackers and everything in between.</p>
                <h3>Things We're Good At</h3>
                <p>We specialize in crafting the best solutions across digital, web and brand.</p>
                <p>With a strong network and community, we can adapt to a range of specific requirements for a wide variety of projects. </p>
                <p>Wether it's a complex digital application for a large organization, or a simple project for a small startup, we have the experience to do the job well.</p>
                <p>We also love working with Non-Profit Organizations and Charities.</p>
            </div>
            <!-- <div class="col-md-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="img/jacob.jpg" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jacob Payne</h4>
                        <p>Lead Developer</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <button type="button" class="toggle exit" id="toggle">
        <i class="fa fa-times"></i>
    </button>
</section>